<div class="popup-form" id="quick-order-form" style="display:none;">
    <form id="popup-modal-info" name="customerInfo" >
        <h2>Write your information</h2>
        <p><label for="customerName">Name: </label>
            <input type="text" name="customerName" id="customerName" placeholder="Your name" required></p>
        <p><label for="customerPhone">Phone: </label>
            <input type="text" name="phone" id="customerPhone" placeholder="Your phone" required></p>
        <p><label for="customerEmail">Email: </label>
            <input type="email" name="email" id="customerEmail" placeholder="Your email"></p>
        <input type="text" name="productSku" id="sku" style="display: none">
        <p>
            <button class="action primary tocart"
                    type="button"
                    name="sendInfo"
                    id="sendInfo"
                    data-bind="click: sendInfo">
                <span>Send</span>
            </button>
        </p>
    </form>
</div>
