<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ALevel_Stock::alevel_stock"
             title="ALevel Stock"
             translate="title"
             module="ALevel_Stock"
             sortOrder="80"
             parent="Magento_Catalog::inventory"
             action="alevel_stock/users"
             resource="ALevel_Stock::users_list_access"/>
    </menu>
</config>
